<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matrix Bouncer</title>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <style>
      table, th, td {
        border: 1px solid;
      }
      th, td {
        padding: 5px;
      }
      table {
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <div>
      <form action="invite" method="post">
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Alias</th>
                    <th>Join Rule</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                <tr>
                    <td><input type="radio" name="room_id" value="{{ room.room_id }}"></td>
                    <td>{{ room.name }}</td>
                    <td>{{ room.canonical_alias }}</td>
                    <td>{{ room.join_rule }}</td>
                    <td>{{ room.room_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="display: flex; padding: 5px;">
          <div style="display: fiex; flex-direction: column;">
            <div style="padding: 5px;">
                <label for="user">User ID:</label>
                <input type="text" id="user" name="user_id" placeholder="@user:example.com" required>
            </div>
            <div style="padding: 5px;">
              <button type="submit" style="width: 100%;">Login with GitHub to Invite</button>
            </div>
          </div>
          <div class="cf-turnstile" data-sitekey="{{ turnstile_site_key }}"></div>
        </div>
      </form>
    </div>
    <footer>
      Source Code: <a href="https://github.com/NickCao/bouncer">https://github.com/NickCao/bouncer</a>
    </footer>
  </body>
</html>
